/*****************************************
Bootstrap responsive pricing tables v.1.0. 
http://www.sitediscount.ru
ArtLabs
2013
*****************************************/


/*********************** GLOBAL STYLES **********************/


* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/**************************** PRICE BOX BODY **************************/
.pricing-table {

text-align:center;
font-weight:400;
border:6px solid #1ABC9C;
margin-bottom:30px;
background:#fff;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.pricing-table:hover{
-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
}



/******************************** ROUND CORENERS ************************/

.rounded{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

/******************************** COLORS BODY *************************/
.pricing-table.green {

text-align:center;
font-weight:400;
border:6px solid #2ECC71;
}

.pricing-table.red {

text-align:center;
font-weight:400;
border:6px solid #E74C3C;
}

.pricing-table.orange {

text-align:center;
font-weight:400;
border:6px solid #F39C12;
}

.pricing-table.dark-blue {

text-align:center;
font-weight:400;
border:6px solid #34495E;
}

.pricing-table.blue {

text-align:center;
font-weight:400;
border:6px solid #3498DB;
}

/********************************** BOX CONTENT ************************/
.pricing-table-sign-up {
	border-top:1px solid #BDC3C7;
	padding:10px 20px;
	text-align:center;
	background:#ECF0F1;
}

.pricing-table-features p {
	
	padding:5px 20px;
	text-align:center;
}
.pricing-table-features p:nth-child(2n){
	background:#ECF0F1;
}

.pricing-table-features, .pricing-table-space{
	background:#fff;
}

.pricing-table p{
		padding:5px;
		margin-top:5px;
		font-size:110%;
		font-weight:400;
		background:#fff;
	}
	.pricing-table p strong{
		font-weight:600;
	}
	
	
/********************************* BOX HEADER ********************************/
	.pricing-table .pricing-table-header {
	color:#fff;
	background: #1ABC9C;
	padding:0px;
}

	.pricing-table-header .heading{
	display:inline-block;
	width:100%;
	padding:15px 0px;
	text-transform:uppercase;
	
}

/**************************** COLOR BOX HEDER ***************************/
	
	.pricing-table.orange .heading{
		background: #F39C12;
	}
	
	.pricing-table.green .heading{
		background: #2ECC71;
	}
	
	.pricing-table.red .heading{
	background: #E74C3C;
	}
	
	.pricing-table.dark-blue .heading{
	background: #34495E;
	}
	
	.pricing-table.blue .heading{
	background: #3498DB;
	}


.pricing-table .pricing-table-header .price-value{
	background: #16A085;

}

.pricing-table.red .pricing-table-header .price-value{
	background: #C0392B;

}

.pricing-table.orange .pricing-table-header .price-value{
	background: #D35400;

}
.pricing-table.green .pricing-table-header .price-value{
	background: #27AE60;

}

.pricing-table.dark-blue .pricing-table-header .price-value{
	background: #2C3E50;

}

.pricing-table.blue .pricing-table-header .price-value{
	background: #2980B9;

}

.pricing-table-header .price-value {
	display:inline-block;
	width:100%;
	padding:20px 0px;
	background: #1ABC9C;
}

.pricing-table-header .price-value span{
	font-size:300%;
}
.pricing-table-header .price-value span.mo{
	font-size:200%;
}

/****************************** HEADINGS AND BUTTONS STYLES**********************/
body{
	color:#34495E;
}
h1 {
  font-size: 32px;
  font-weight: 900; 
  text-transform:uppercase;
  }

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px; }

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }
  
 
/******************************* ALTERNATIVE BOOTSTRAP FLAT BUTTON STYLES **************************/

	.btn {
	  border: none;
	  background: #34495e;
	  color: white;
	  font-size: 16.5px;
	  text-decoration: none;
	  text-shadow: none;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  -webkit-transition: 0.25s;
	  -moz-transition: 0.25s;
	  -o-transition: 0.25s;
	  transition: 0.25s;
	  -webkit-backface-visibility: hidden; 
	  
	  }
	  
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
	}
	
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
	}
	
 
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; 
	
	}
  .btn.btn-primary {
    background-color: #1abc9c; 
	}
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; 
	  }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; 
	  }
	  
  .btn.btn-info {
    background-color: #3498db; 
	}
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; 
	  }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; 
	  }
	  
  .btn.btn-danger {
    background-color: #e74c3c; 
	}
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; 
	  }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; 
	  }
	  
  .btn.btn-success {
    background-color: #2ecc71; 
	}
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; 
	  }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; 
	  }
	  
  .btn.btn-warning {
    background-color: #f1c40f; 
	}
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; 
	  }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; 
	  }
	  
/************************************************************/