activetcl {
32 http://downloads.activestate.com/ActiveTcl/releases/8.6.4.1/ActiveTcl8.6.4.1.299124-linux-ix86-threaded.tar.gz
64 http://downloads.activestate.com/ActiveTcl/releases/8.6.4.1/ActiveTcl8.6.4.1.299124-linux-x86_64-threaded.tar.gz
}

naviserver {
 modules  http://downloads.sourceforge.net/project/naviserver/naviserver/4.99.10/naviserver-4.99.10-modules.tar.gz?ts=1455786037&use_mirror=netix
 webserver http://downloads.sourceforge.net/project/naviserver/naviserver/4.99.10/naviserver-4.99.10.tar.gz?ts=1455786036&use_mirror=kent
}

nextscripting 	http://downloads.sourceforge.net/project/next-scripting/2.0.0/nsf2.0.0.tar.gz?r=&ts=1429800085&use_mirror=cznic 

