activetcl {
32 http://downloads.activestate.com/ActiveTcl/releases/8.6.3.1/ActiveTcl8.6.3.1.298624-linux-ix86-threaded.tar.gz
64 http://downloads.activestate.com/ActiveTcl/releases/8.6.3.1/ActiveTcl8.6.3.1.298624-linux-x86_64-threaded.tar.gz
}

naviserver {
 modules  http://downloads.sourceforge.net/project/naviserver/naviserver/4.99.8/naviserver-4.99.8-modules.tar.gz?r=&ts=1429797235&use_mirror=kent
webserver http://downloads.sourceforge.net/project/naviserver/naviserver/4.99.8/naviserver-4.99.8.tar.gz?r=&ts=1429797258&use_mirror=kent
}

nextscripting 	http://downloads.sourceforge.net/project/next-scripting/2.0.0/nsf2.0.0.tar.gz?r=&ts=1429800085&use_mirror=cznic 

